extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='about.bundle.js')

block content
  +hero('about')
 
  section.about
    .about__left
      .about__left-title
        .block-title Обо мне
      .about__left-content
        .block-info
          .block-info__image
            img.block-info__avatar
          .block-info__about-user
            .block-info__subtitle Кто я
            .block-info__text-content
              p Я веб разработчик из Волгограда. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
              p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!

    .about__right
      .about__right-title
        .block-title Чем я могу быть вам полезен
      .about__right-text-content
        p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
      .about__right-content
        - 
          var skills = [
            ['Frontend', [['Html5', 30], ['css3', 50], ['javascript', 70]]],
            ['Backend', [['Html5', 30], ['css3', 50], ['javascript', 70]]],
            ['Workflow', [['Html5', 30], ['css3', 50], ['javascript', 70]]],
          ]

        ul.skills-list
          each skillsrow in skills
            li.skills-list__item.skills-row
              .skills-row__title #{skillsrow[0]}
              ul.skills-row__list
                each skill in skillsrow[1]
                  li.skills-row__item
                    figure.skill(data-percents="70")
                      svg(viewBox="0 0 100 100" preserveAspectRatio="none").skill__figure
                        circle(cx="50" cy="50" r="40").skill__circle.skill__circle_under
                        circle(cx="50" cy="50" r="40").skill__circle.skill__circle_above
                      .skill__title #{skill[0]}   
  section.map
    .map-block
      #ya-map.map-image
    .map-data-block
      .contacts__title
        .contacts__subtitle Контакты
      .contacts__data
        -
          var contacts = [
            ['skype', 'pluto08101990@gmail.com'],
            ['mail', 'pluto08101990@gmail.com'],
            ['phone', '+7 (919) 797-15-24'],
            ['map_adress', 'г.Волгоград, б-р. 30 лет Победы, д.42, кв.97']
          ]
        ul.contacts__list
          each item in contacts
            li.contacts__item
              .contacts__icon
                a(href=`${item[0]}`).socials__link
                  +icon(item[1], 'socials__link-icon')      
    

  //- h1 Страничка "Обо Мне"  