extends ../auth.layout.pug

block content
	.parallax
		.parallax__layer.parallax__layer_01
		.parallax__layer.parallax__layer_02
		.parallax__layer.parallax__layer_03
		.parallax__layer.parallax__layer_04
		.parallax__layer.parallax__layer_05
		.parallax__layer.parallax__layer_06
		.parallax__layer.parallax__layer_07
		.parallax__layer.parallax__layer_08
		.parallax__layer.parallax__layer_09
		.parallax__layer.parallax__layer_10
				
    a.autorization-button(href="#") Авторизоваться
	.welcome-wrapper
		.flipper-container
			.flipper
				.welcome-container
					.welcome-container-inner
						.user-avatar: 
							+image('userfiles/my_photo.jpg', 'Янушевский Денис', '.user-pic')
						.author
							.author__name Янушевский Денис
							.author__site Личный сайт веб разработчика
						ul.socials-list
							li.socials__item
								a.social-link(href="https://vk.com/mr.fox_08101990" target="_blank")
									+icon('vk','.social-icon.social-icon_green')
							li.socials__item
								a.social-link(href="https://github.com/Mr-Fox08101990" target="_blank")
									+icon('github','.social-icon.social-icon_green')
							li.socials__item
								a.social-link(href="https://www.linkedin.com/in/денис-янушевский-665298153" target="_blank")
									+icon('in','.social-icon.social-icon_green')
					ul.welcome-links__list
						li.welcome-links__item
							a.welcome-link(href="works.html") Мои работы
						li.welcome-links__item
							a.welcome-link(href="about.html") Обо мне
						li.welcome-links__item
							a.welcome-link(href="blog.html") Блог
				.welcome-container.welcome-container_autorization
					.welcome-container-inner
						.title.title_secondary Авторизуйтесь
						form.form#login
							.input-wrapper
								.icon-wrapper
									+icon('login','.auth-icon')
									input(type="text" class="form__input" name="userLogin" id="userLogin" value="" placeholder="Логин")
								.tooltip-wrapper
									.tooltip.tooltip-bottom
										span.tooltip-text Вы не ввели логин
							.input-wrapper
								.icon-wrapper
									+icon('password','.auth-icon')
									input(type="password" class="form__input" name="userPassword" id="userPassword" value="" placeholder="Пароль")
								.tooltip-wrapper
									.tooltip.tooltip-bottom
										span.tooltip-text Вы не ввели пароль
							.checkbox-wrapper
								input(type="checkbox" class="checkbox" id="checkbox_1")
								label.checkbox-label(for="checkbox_1") Я человек
							.captcha-question Вы точно не робот?
								input(type="radio" class="radio" name="answer" value="yes" id="yes")
								label.radio-label.radio-label_first(for="yes") Да
								input(type="radio" class="radio" name="answer" value="no" id="no")
								label.radio-label(for="no") Не уверен
							.form__buttons
								a.form__btn(href="#") На главную
								input(type="submit" class="form__btn form__btn_submit" value="Войти")
  
  
  
  
  