include ../common/variables.pug

footer.footer
  .footer__up
    .footer__left
      +nav(footer__nav, ["Мои работы","Обо мне","Блог","Авторизация"], 1)
    .footer__right
      .footer__links
        ul.socials
          each item in socials
            li.socials__item
              a(href=`${item[0]}`).socials__link
                +icon(item[1], 'socials__link-icon')
  .footer__down
    .footer__left
      p Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
    .footer__right
      p &copy Янушевский Денис | создано с любовью в LoftSchool | 2018
  //- h2 Copyright &copy;