.hero__user
    .user__pic
        +image('avatars/my-avatar.jpg', 'Фото владельца', 'user__img')
    .user__description
        .user__blog-title Блог
        .user__blog-text Статьи, которые я написал